<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="bulonera2Entities22" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;   data source=emmanueljulio\DESARROLLO;initial catalog=bulonera2;     persist security info=True;user id=sa;     password=$%Fabio1;MultipleActiveResultSets=True;     App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UiFabio.Properties.Settings.bulonera2ConnectionString"
      connectionString="Data Source=emmanueljulio\DESARROLLO;Initial Catalog=bulonera2;Persist Security Info=True;User ID=sa;Password=$%Fabio1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>