<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="bulonera2Entities" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;     data source=EMMANUELJULIO\DESARROLLO;initial catalog=bulonera2;     persist security info=True;user id=sa;     password=$%Fabio1;MultipleActiveResultSets=True;     App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bulonera2" connectionString="metadata=res://*/Models.Bulonera.csdl|res://*/Models.Bulonera.ssdl|res://*/Models.Bulonera.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\DESARROLLO;initial catalog=bulonera2;persist security info=True;user id=sa;password=$%Fabio1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bulonera2Entities1" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMALAP\DESARROLLO;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bulonera2Entities2" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMALAP\DESARROLLO;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>